/* features 1 2 */


.background {
    position: absolute;
    left: 0%;
    right: 43.35%;
    top: 0%;
    bottom: 0%;

    background: #758fca;
    border-radius: 60px;

}

.title h1 {
    
    position: absolute;
    left: 66.5%;
    right: 0%;
    top: 18.78%;
    bottom: 52%;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 56px;

    color: #234CAD;

}

.title .subtitle {
    position: absolute;
    left: 66.5%;
    right: 3.55%;
    top: 52.35%;
    bottom: 38.61%;


    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 26px;


    color: #234CAD;
}

.title button {
    position: absolute;
    left: 66.5%;
    right: 3.55%;
    top: 62.35%;
    bottom: 30.61%;
    border-radius: 30px;
    width: 150px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    
}
.card1 {
    background-color: burlywood;
    border-radius: 9px;
    padding: 50px;
    margin: 270px;
    width: 600px;
   
}

.card2 {
    background-color: burlywood;
    border-radius: 9px;
    padding: 40px;
    margin-left: 350px;
    margin-top: -200px;
    width: 450px;
    
   
}

.card3 {
    background-color: burlywood;
    border-radius: 9px;
    padding: 30px;
    margin-left: 425px;
    margin-top: 70px;
    width: 300px;
}

.card1 h2 {
    
    background: #758fca;
    padding: 30px;
    width: 100px;
    border-radius: 300px;
}

.card2 h2 {
    
    background: #758fca;
    padding: 25px;
    width: 80px;
    border-radius: 300px;
    font-size: 25px;
}

.card3 h2 {
    background: #758fca;
    padding: 20px;
    width: 60px;
    border-radius: 300px;
    font-size: 15px;
}

.name1{
    background: #758fca;
    margin-left: 130px;
    margin-top: -100px;
    font-size: 20px;
    font-weight: bold;
}

.content1 {
    background: #758fca;
    margin-left: 130px;
    margin-top: -10px;
    font-size: 20px;
    
}

.name2 {
    background: #758fca;
    margin-left: 100px;
    margin-top: -80px;
    font-size: 15px;
    font-weight: bold;
}

.content2 {
    background: #758fca;
    margin-left: 100px;
    margin-top: -10px;
    font-size: 15px;
}

.name3 {
    background: #758fca;
    margin-left: 77px;
    margin-top: -60px;
    font-size: 10px;
    font-weight: bold;
}

.content3 {
    background: #758fca;
    margin-left: 77px;
    margin-top: -10px;
    font-size: 10px;
}