*{
    margin: 0;
    padding: 0;
}
/* produc feature 1 */
/* Jumbotron */
#product-feature-1 {
    height: 575px;
    width: 700px;
    background: #29afec;
    border-radius: 60px;
    margin-top: 55px;
    
}

/* Card Center */
#card-center {
    padding: 0;
}
/* CARD 1 */
#card-center-1 {
    height: 100px;
    width: 350px;
    border-radius: 20px;
    margin-top: 110px;
}

.initial-1 {
    width: 100px;
}

.name-1 {
    margin-left: 110px;
    margin-top: -80px;
    font-size: 20px;
}

.msg-1 {
    margin-left: 110px;
    font-size: 15px;
}
/* card 2 */
#card-center-2 {
    height: 90px;
    width: 300px;
    border-radius: 18px;
    margin-top: 50px;
    margin-left: 25px;
}

.initial-2 {
    width: 75px;
}

.name-2 {
    margin-left: 85px;
    margin-top: -55px;
    font-size: 15px;
}

.msg-2 {
    margin-left: 85px;
    font-size: 10px;
}

/* card 3 */
#card-center-3 {
    height: 70px;
    width: 250px;
    border-radius: 16px;
    margin-top: 50px;
    margin-left: 50px;
}
.initial-3 {
    width: 55px;
}

.name-3 {
    margin-left: 70px;
    margin-top: -40px;
    font-size: 10px;
}

.msg-3 {
    margin-left: 70px;
    font-size:9px;
}

/* right content */

.title-1 {
    color: #234CAD;
    margin-left: 800px;
    width: 350px;
    margin-top: -490px;


}

.right-1 {
    margin-bottom: 50px;
    font-size: 50px;
}

.right-2 {
    margin-bottom: 70px;
    font-size: 19px;
}

.button-right-product {
    background-color: white;
    color: #234CAD;
    padding: 10px;
    border-radius: 30px;
    width: 200px;
    border-color: #234CAD;;
}

.button-right-product:hover {
    background-color: #234CAD;
    color: white;
    padding: 10px;
    border-radius: 30px;
    width: 200px;
    border-color: #234CAD;
    transition: 0.5s;
}

/* product feature 2 */
.title-2 {
    text-align: center;
    margin-top: 400px;
    color: #234CAD;
}

/* jumbotron 2 */
#product-feature-2 {
    
    height: 575px;
    width: auto;
    background: #29afec;
    border-radius: 60px;
    margin-top: 55px;
}