*{
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar {
    
}

/* Jumbotron */
#web-section {
    height: 575px;
    width: 1240px;
    background: #F2F6FF;
    border-radius: 60px;
    margin-top: 55px;
    position: absolute;
    left: 100px;
    top: 40px;
    right: 100px;
    bottom: 4320px;
}

.body-text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #234CAD;
    position: absolute;
    width: 375px;
    left: 100px;
    top: 108px;
    bottom: 299px;
    right: 765px;
}

.paragraph {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #234CAD;
    position: absolute;
    width: 304px;
    left: 100px;
    top: 301px;
    right: 836px;
    bottom: 222px;
}

#card-left .btn {
    border-color:#234CAD;
    border-radius: 32.5px;
    width: 200px;
    height: 65px;
    font-family: Nunito;
    font-weight: 700;
    font-size: 22px;
    color:#234CAD;  
    position: absolute;
    left: 100px;
    top: 403px;
    right: 940px;
    bottom: 480px;
}

/* Card Center */

#card-center {
    padding: 0;
    margin: 0;
}

#card-center-1 {
    width: 65px;
    height: 65px;
    text-align: center;
    border: 10px solid white;
    border-radius: 20px;
    padding: 0.7em;
    background: white;
    position: absolute;
    left: 480px;
    top: 30px;
    right: 595px;
    bottom: 480px;
}

#card-center-2 {
    height: 100px;
    width: 350px;
    border-radius: 20px;
    border-color: white;
    position: absolute;
    left: 480px;
    top: 125px;
    right: 310px;
    bottom: 350px;
}
#card-center-2 .fa-stack {
    margin: 25px 20px;

}

.paragraph-2 {
    position: relative;
    bottom: 25px;
    left: 93px;
    margin-left: 20px;
}

.paragraph-2 h4 {
    font-family: Nunito;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #234CAD;
}

.paragraph-2 p {
    font-family: nunito;
    font-weight: 400;
    size: 12px;
    line-height: 21px;
    color: #234CAD;
}

#card-center-3 {
    height: 160px;
    width: 276px;
    border-radius: 25px;
    margin-bottom: 25px;
    border-color:white ;
    position: absolute;
    left: 480px;
    top: 261px;
    right: 384px ;
    bottom: 129px;
}

#card-center-3 .fa-stack{
    position: absolute;
    margin: 20px;
    width: 60px;
    height: 60px;
    background-color: #F2F6FF;
    border-radius: 100%;
}

#card-center-3 .fa-stack .fa-calendar-days {
    margin-top: 5px;
}

.paragraph-3 {
    position: absolute;
    bottom: 87px;
    left: 100px;
    margin-left: 10px;
}

.paragraph-3 h4 {
    width: 104px;
    height: 21px;
    font-family: nunito;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #234CAD;
}

.paragraph-3 p {
    width: 118px;
    height: 21px;
    font-family: nunito;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #234CAD;
    display: inline;
}

.text-block {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #F2F6FF;
    color: white;
    padding:9px;
    border-radius: 100%;
    bottom: 20px;
    margin: 20px -10px 20px 20px;
    border-style: solid;
}

.person .text-block p {
    height: 14px;
    font-family: nunito;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #234CAD;
}

.text-block-1 {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #F2F6FF;
    color: white;
    padding:9px;
    border-radius: 100%;
    bottom: 20px;
    margin-left: 50px;
    border-style: solid;
}

.person-1 .text-block-1 p {
    height: 14px;
    font-family: nunito;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #234CAD;
}

.text-block-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #F2F6FF;
    color: white;
    padding:9px;
    border-radius: 100%;
    bottom: 20px;
    margin-left: 80px;
    border-style: solid;
}

.person-2 .text-block-2 p {
    height: 14px;
    font-family: nunito;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #234CAD;
}

.text-block-3 {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #F2F6FF;
    color: white;
    padding:9px;
    border-radius: 100%;
    bottom: 20px;
    margin-left: 110px;
    border-style: solid;
}

.person-3 .text-block-3 p {
    height: 14px;
    font-family: nunito;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #234CAD;
}

#card-center-4 {
    height: 100px;
    width: 350px;
    border-radius: 25px;
    margin-bottom: 25px;
    border-color:white ;
    position: absolute;
    left: 480px;
    top: 460px;
    right: 310px;
    bottom: 29px;
}

#card-center-4 .fa-stack {
    margin: 25px 20px;
}

#card-center-4 .person-initial {
    margin: 20px;
}

#card-center-4 .person-initial .text-block-initial {
    width: 60px;
    height: 60px;
    background-color: #F2F6FF;
    color: white;
    padding:12.5px;
    border-radius: 100%;
  }

#card-center-4 .person-initial .text-block-initial p {
    height: 24px;
    font-family: nunito;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #234CAD;
    margin: 6.5px 6.5px 6.5px 7.5px;
}

#card-center-4 .person-initial .text-block-initial .notif {
    position: absolute;
    width: 4px;
    top: 24px;
    left: 70px;
    
}

.paragraph-4 {
    position: absolute;
    top: 28px;
    left: 100px;
}

.paragraph-4 h4 {
    font-family: Nunito;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #234CAD;
}

.paragraph-4 p {
    font-family: nunito;
    font-weight: 400;
    size: 12px;
    line-height: 21px;
    color: #234CAD;
}

.date-card-4 {
    position: absolute;
    left: 285px;
    right: 20px;
    top: 28px;
    bottom: 59px;
    font-family: nunito;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    color: #234CAD;
    opacity: 0.75;
}

/* Card Right */
#card-right {
    position: absolute;
    left: 885px;
    top: 65px;
    right: 135px;
    bottom: 350px;
    width: 130px;
    height: 160px;
    border-radius: 25px;
    border-color: white;
}

#card-right .fa-stack {
    margin: 29px 30px 20px 32px;
}

#card-right .paragraph-right {
    position: absolute;
    top: 119px;
    left: 34.29px;
    right: 33.71px;
    width: 63px;
    font-family: nunito;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #234CAD;
}

#card-right-2 {
    height: 100px;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 25px;
    border-color:white ;
    position: absolute;
    left: 776px;
    top: 236px;
    right: 14px;
    bottom: 214;
}

#card-right-2 .fa-stack {
    margin: 25px 20px;
}

#card-right-2 .person-initial {
    margin: 20px;
}

#card-right-2 .person-initial .text-block-initial {
    width: 60px;
    height: 60px;
    background-color: #F2F6FF;
    color: white;
    padding:12.5px;
    border-radius: 100%;
  }

#card-right-2 .person-initial .text-block-initial p {
    height: 24px;
    font-family: nunito;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #234CAD;
    margin: 6.5px 6.5px 6.5px 5px;
    width: 26px;
}

#card-right-2 .person-initial .text-block-initial .notif {
    position: absolute;
    width: 4px;
    top: 24px;
    left: 70px;
    
}

.paragraph-right-2 {
    position: absolute;
    top: 28px;
    left: 100px;
}

.paragraph-right-2 h4 {
    font-family: Nunito;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #234CAD;
}

.paragraph-right-2 p {
    font-family: nunito;
    font-weight: 400;
    size: 12px;
    line-height: 21px;
    color: #234CAD;
}

.date-card-right-2 {
    position: absolute;
    left: 285px;
    right: 20px;
    top: 28px;
    bottom: 59px;
    font-family: nunito;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    color: #234CAD;
    opacity: 0.75;
}

#card-right-3 {
    height: 100px;
    width: 350px;
    border-radius: 25px;
    margin-bottom: 25px;
    border-color:white ;
    position: absolute;
    left: 776px;
    top: 350px;
    right: 14px;
    bottom: 100px;
}

#card-right-3 .message-card-right-3 .text-block-message {
    width: 60px;
    height: 60px;
    background-color: #F2F6FF;
    color: white;
    border-radius: 100%;
    position: absolute;
    left: 20px;
    top: 20px;
    bottom: 20px;
    right: 270px;
}

#card-right-3 .message-card-right-3 .text-block-message i {
    position: absolute;
    color: #234CAD;
    left: 22px;
    top: 30px;
    bottom: 30px;
    right: 290px;
}

.paragraph-right-3 {
    position: absolute;
    top: 15px;
    left: 100px;
}

.paragraph-right-3 h4 {
    font-family: Nunito;
    width: 114px;
    height: 21px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #234CAD;
}

.paragraph-right-3 p {
    font-family: nunito;
    font-weight: 400;
    width: 224px;
    size: 12px;
    line-height: 21px;
    color: #234CAD;
}

#card-right-4 {
    width: 75px;
    height: 75px;
    border: 10px solid white;
    border-radius: 20px;
    background: white;
    position: absolute;
    left: 885px;
    top: 475px;
    right: 180px;
    bottom: 25px;
}

#card-right-4 span i {
    position: absolute;
    left: 12px;
    top: 28px;
    right: 12px;
    bottom: 23.79px;
    color: #234CAD;
}