*{
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar {
    
}

/* Jumbotron */
#web-section {
    height: 575px;
    width: 1240px;
    background: #F2F6FF;
    border-radius: 60px;
    margin-top: 55px;
}

/* Card Left */
#card-left{
    padding: 108px 100px 107px 100px;
}

.body-text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #234CAD;
}

.paragraph {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #234CAD;
    padding: 25px 0 50px 0;
}

#card-left .btn {
    border-color:#234CAD;
    border-radius: 32.5px;
    width: 200px;
    height: 65px;
    font-family: Nunito;
    font-weight: 700;
    font-size: 22px;
    color:#234CAD;  
}

.col-6 {
    /* padding:5%; */
}

/* Card Center */
#card-center {
    padding: 0;
}

#card-center-1 {
    width: 65px;
    height: 65px;
    text-align: center;
    border: 10px solid white;
    border-radius: 20px;
    padding: 0.7em;
    background: white;
    margin:36px 0 25px 0;
}

#card-center-2 {
    height: 100px;
    width: 350px;
    border-radius: 20px;
}
#card-center-2 .fa-stack {
    margin: 20px 10px;
    display: flexbox;
}